<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
    <h1>El juego mugriento ese der furbo</h1>

    <h3> Welcome back, <%= data.email %></h3>

    <input type="button" value="Log out" onclick="window.location.href='/logout'">
</body>
</html>