<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Logout </title>
    <script>

      let intID = setInterval(volver, 3000);

      function volver() {
        window.location.href = "https://sw.jlorenzo015.eus/";
        clearInterval(intID)
      }

    </script>
  </head>
  <body>
    <h1> Su sesión se ha cerrado exitósamente </h1>
  </body>
</html>
