<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Register </title>
</head>
<body>
    <div style="text-align: center;">
        <h1> Admin menu </h1>
        <h3> Welcome back, <%= data.email %></h3>
        <input type="button" value="Create new player" onclick="window.location.href='/api/players/add'">
        <input type="button" value="Play game" onclick="window.location.href='game'">
    </div>
</body>
</html>